/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .instructions {
      font-size: 1.2rem;
    }
    #quote {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .instructions {
      font-size: 1rem;
    }
    #quote {
      font-size: 1.2rem;
    }
  }
  
  /* Asegurar que el contenedor del video cubra toda la pantalla */
#videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo oscuro para el video */
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Asegurar que el video ocupe toda la pantalla sin distorsionarse */
  #bloodVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste del video para cubrir toda la pantalla sin distorsionarse */
    border: none;
  }
  