/* General styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.instructions {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 10px;
  color: #e74c3c; /* Rojo sangre */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Ajusta con respecto a las instrucciones */
  position: relative;
  z-index: 10; /* Asegura que el contenedor de las frases esté por encima del video */
}

/* Frases de Macbeth */
#quote {
  font-size: 2rem;
  text-align: center;
  opacity: 0.8; /* Modifica transparencia del texto */
  z-index: 2;
  padding: 0 15px; /* Aumenta el espacio a los lados */
}

/* Contenedor del video */
#videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; /* Asegura que el video esté detrás del texto */
  opacity: 0; /* Inicialmente invisible */
  transition: opacity 1s ease; /* Efecto de fade */
  pointer-events: none; /* Asegura que el video no interfiera con la interacción */
}

/* Hacer que el video se ajuste a la imagen de fondo */
#bloodVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra todo el espacio */
  opacity: 0.3; /* Le da opacidad al video */
  transition: transform 1s ease; /* Agrega transición de transformación */
  display: block; /* Asegura que no se muestren los controles */
  pointer-events: none; /* Deshabilita la interacción con el video */
}

/* Fondo con imagen ajustada */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../assets/images/background.webp') no-repeat center center;
  background-size: cover; /* Asegura que la imagen cubra todo el espacio */
  opacity: 0.3; /* Modifica la transparencia del fondo */
  z-index: -2; /* Asegura que el fondo no se vea afectado */
}

/* Media queries para dispositivos móviles e iPads */
@media (max-width: 768px) {
  /* Eliminar video y fondo en móviles */
  #videoContainer {
    display: none; /* No mostrar el video en dispositivos móviles */
  }

  body::before {
    display: none; /* No mostrar la imagen de fondo en dispositivos móviles */
  }

  /* Ajustar tamaño de la frase en dispositivos móviles */
  #quote {
    font-size: 1.5rem;
    padding: 0 20px;
  }
}


