/* General styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.instructions {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 10px;
  color: #e74c3c; /* Rojo sangre */
}

.container {
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* Ajusta con respecto a las instrucciones */
  position: relative;
  z-index: 10; /* Asegura que el contenedor de las frases esté por encima del video */
}

/* Frases de Macbeth */
#quote {
  font-size: 2rem;
  text-align: center;
  opacity: 0.8; /* Modifica transparencia del texto */
  z-index: 2;
  padding: 0 15px; /* Aumenta el espacio a los lados */
  margin-bottom: 20px; /* Espacio debajo de la frase */
}

/* Contenedor del video */
#videoContainer {
  position: fixed; /* Fijo entre el fondo y el texto */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Coloca el video detrás del texto */
  pointer-events: none; /* Asegura que no interfiera con la interacción */
  display: none; /* Oculto inicialmente */
}

/* Video de fondo */
#bloodVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra todo el espacio */
  display: block;
  opacity: 0.5; /* Ajusta la transparencia */
  pointer-events: none; /* Deshabilita la interacción con el video */
}

/* Botón para activar/desactivar el video */
#toggleButton {
  position: relative;
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e74c3c; /* Rojo sangre */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 5; /* Asegura que el botón esté visible por encima del video */
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
  background-color: #c0392b; /* Oscurece el rojo al pasar el mouse */
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
  #quote {
    font-size: 1.5rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
    padding: 0 20px; /* Añade más margen a la izquierda y derecha */
  }

  #toggleButton {
    padding: 8px 15px; /* Ajusta el tamaño del botón en pantallas pequeñas */
    font-size: 0.9rem; /* Reduce el tamaño de fuente del botón */
  }

  #bloodVideo {
    opacity: 0.7; /* Hazlo más visible en móviles */
  }
}
