/* General styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  position: relative;
  transition: background-color 2s ease; /* Para el efecto de fade del fondo */
}

/* Imagen de fondo con opacidad */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('assets/images/background.webp') no-repeat center center;
  background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
  opacity: 0.7; /* Aumenta la opacidad para hacerla más visible */
  z-index: -1; /* Asegura que la imagen quede detrás del contenido */
  pointer-events: none; /* Evita que la imagen interfiera con la interacción */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10; /* Asegura que el contenido esté por encima de la imagen */
}

#quote {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #e74c3c; /* Rojo sangre */
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c0392b;
}
